<div class="row">

  <div class="col-sm-7">
    <u>
      <h1>UK-Monty</h1>
      <a href="angular"><img src="..//assets/" width="200px"></a>
     
    </u>
    <pre>Mahantesh</pre>
  </div>
  <div class="col-sm-5">

    <div class="wrapper">
        
      <form action="#" method="post">
        
        <input type="text" name="username" placeholder="enter username" required><br>
        <input type="password" name="password" placeholder="password" required><br>
        <input type="submit" name="submit" value="login">
      </form>
    </div>
  </div>


</div>

<router-outlet></router-outlet>